:root{
  --sf-img-17: url("assets/img/embedded-001.webp");
  --sf-img-15: url("assets/img/embedded-002.webp");
  --sf-img-16: url("assets/img/embedded-003.webp");
  --sf-img-12: url("assets/img/embedded-004.webp");
  --sf-img-18: url("assets/img/embedded-005.webp");
  --sf-img-19: url("assets/img/embedded-006.webp");
  --sf-img-13: url("assets/img/embedded-007.webp");
  --sf-img-14: url("assets/img/embedded-008.webp")
}
@font-face{
  font-family:__haasGrotDisp_332926;
  src:url(assets/fonts/embedded-font-001.woff2)format("woff2");
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:__haasGrotDisp_332926;
  src:url(assets/fonts/embedded-font-002.woff2)format("woff2");
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:__haasGrotDisp_Fallback_332926;
  src:local("Arial");
  ascent-override:100.37%;
  descent-override:19.97%;
  line-gap-override:0.00%;
  size-adjust:93.65%
}
@font-face{
  font-family:__haasGrotText_7ea857;
  src:url(assets/fonts/embedded-font-003.woff2)format("woff2");
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:__haasGrotText_7ea857;
  src:url(assets/fonts/embedded-font-004.woff2)format("woff2");
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:__haasGrotText_7ea857;
  src:url(assets/fonts/embedded-font-005.woff2)format("woff2");
  font-weight:500;
  font-style:normal
}
@font-face{
  font-family:__haasGrotText_7ea857;
  src:url(assets/fonts/embedded-font-006.woff2)format("woff2");
  font-weight:500;
  font-style:normal
}
@font-face{
  font-family:__haasGrotText_Fallback_7ea857;
  src:local("Arial");
  ascent-override:94.14%;
  descent-override:18.01%;
  line-gap-override:0.00%;
  size-adjust:104.95%
}
@font-face{
  font-family:__IBM_Plex_Mono_21eb4d;
  font-style:normal;
  font-weight:400;
  src:url(assets/fonts/embedded-font-007.woff2)format("woff2");
  unicode-range:u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+0304,u+0308,u+0329,u+2000-206f,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}
@font-face{
  font-family:__IBM_Plex_Mono_Fallback_21eb4d;
  src:local("Arial");
  ascent-override:76.16%;
  descent-override:20.43%;
  line-gap-override:0.00%;
  size-adjust:134.59%
}
@font-face{
  font-family:__adieuLight_65be8f;
  src:url(assets/fonts/embedded-font-008.woff2)format("woff2");
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:__adieuLight_65be8f;
  src:url(assets/fonts/embedded-font-009.woff2)format("woff2");
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:__adieuLight_Fallback_65be8f;
  src:local("Arial");
  ascent-override:74.87%;
  descent-override:14.97%;
  line-gap-override:0.00%;
  size-adjust:133.57%
}
@keyframes styles_moveRight__w5Ikq{
  0%{
    transform:translate(calc(100% + 1.5em)) rotate(-4deg);
    z-index:2
  }
  70%{
    z-index:0
  }
  to{
    transform:translate(1.5em) rotate(-2deg);
    z-index:0
  }
}
@keyframes styles_moveLeft__LyQPh{
  0%{
    transform:translate(calc(-100% - 1.5em)) rotate(8deg);
    z-index:1
  }
  to{
    z-index:2;
    transform:translate(-1.5em) rotate(-2deg)
  }
}
.ThemeWrapper_wrapper__gfzYK{
  background-color:var(--theme-body-background,var(--color-pale-blue-40));
  color:var(--theme-body-color,var(--color-grey-90));
  min-height:100%;
  flex:1 1
}
@value xs: screen and (max-width: 24rem);
@value sm: screen and (min-width: 40rem);
@value md: screen and (min-width: 56rem);
@value lg: screen and (min-width: 72rem);
@value xl: screen and (min-width: 90rem);
@value reducedMotionNoPref: (prefers-reduced-motion: no-preference);
@value cq-xs: (width > 27em);
@value cq-sm: (width > 37em);
@value cq-md: (width > 50em);
@value cq-lg: (width > 73em);
@value cq-xl: (width > 90em);
.styles_title___wHim{
  display:grid;
  grid-gap:var(--space-8);
  gap:var(--space-8);
  max-width:60ch
}
.styles_mostPopular__JeONN{
  --panel-background:var(--color-green-50);
  --panel-color:var(--color-white)
}
.styles_card__L6ZPy{
  width:20em;
  --theme-pill-background:var(--color-white);
  --theme-pill-color:var(--color-grey-90)
}
.Panel_panelContainer__lO1Ie{
  --panel-internal-background:var(--panel-background,var(--theme-panels-primary-background,var(--color-white)));
  --panel-internal-color:var(--panel-color,var(--theme-panels-primary-color,var(--color-grey-90)));
  --panel-internal-inset:var(--panel-inset,var(--space-24));
  --panel-internal-border-radius:var(--panel-border-radius,var(--space-24));
  container-name:panel;
  container-type:inline-size
}
.Panel_default__RXZEL{
  background-color:var(--panel-internal-background);
  color:var(--panel-internal-color);
  border-radius:var(--panel-internal-border-radius);
  overflow:clip;
  position:relative;
  display:flex;
  flex-direction:column;
  height:100%
}
.Panel_secondary__DcK6U{
  --panel-internal-background:var(--panel-background,var(--theme-panels-secondary-background,var(--color-pale-blue-50)));
  --panel-internal-color:var(--panel-color,var(--theme-panels-secondary-color,var(--color-grey-90)))
}
.Panel_padder__YX1IS{
  flex:1 1
}
.Panel_padder__YX1IS.Panel_inset__v4Kbp{
  padding:var(--panel-internal-inset)
}
.Panel_elevated__jFGaJ{
  box-shadow:var(--elevation-medium)
}
.Panel_withTallAspect__1jb9g{
  aspect-ratio:2/4
}
@container panel (min-width:18rem){
  .Panel_withTallAspect__1jb9g{
    aspect-ratio:2/3
  }
}
@container panel (min-width:26rem){
  .Panel_withTallAspect__1jb9g{
    aspect-ratio:2/2
  }
}
.Panel_default__RXZEL>a{
  flex:1 1;
  display:flex;
  flex-direction:column;
  color:currentColor;
  height:100%;
  text-decoration:none
}
.RadioPlayer_mini__WmIhO{
  --background:var(--theme-panels-secondary-background,var(--color-pale-blue-50));
  --color:var(--theme-panels-secondary-color,var(--color-grey-90));
  position:fixed;
  bottom:var(--space-24);
  left:var(--space-24);
  z-index:100000;
  transform:translateY(200%);
  transition:transform var(--timing-movement) var(--easing-movement);
  cursor:pointer;
  --panel-inset:var(--space-4);
  --panel-border-radius:var(--space-16)
}
.RadioPlayer_miniLayout__kvRZn{
  display:flex;
  align-items:center;
  gap:var(--space-4);
  padding:0 var(--space-8)0 0
}
.RadioPlayer_play__Six15{
  --background:var(--theme-panels-secondary-background,var(--color-pale-blue-50));
  --color:var(--theme-panels-secondary-color,var(--color-grey-90))
}
.RadioPlayer_play__Six15 path[stroke=white]{
  stroke:var(--background)
}
.RadioPlayer_play__Six15 path[stroke=black]{
  stroke:var(--color)
}
.RadioPlayer_play__Six15 g{
  opacity:1;
  transition:opacity var(--timing-fade) var(--easing-fade)
}
:root{
  --color-blue-20:#dedefb;
  --color-blue-30:#b5b5ff;
  --color-blue-40:#9393f3;
  --color-blue-45:#4747ed;
  --color-blue-50:#2727e6;
  --color-blue-55:#1616be;
  --color-blue-60:#121297;
  --color-green-30:#d0eede;
  --color-green-40:#a2ddbd;
  --color-green-45:#5cc48b;
  --color-green-50:#16ab59;
  --color-green-55:#069948;
  --color-green-60:#00833e;
  --color-warm-blue-30:#cdf1fe;
  --color-warm-blue-40:#ade4f7;
  --color-warm-blue-50:#91d8ec;
  --color-warm-blue-60:#82c7e6;
  --color-warm-blue-80:#37a7da;
  --color-pale-blue-30:#f6f9ff;
  --color-pale-blue-40:#f0f6ff;
  --color-pale-blue-50:#e1edff;
  --color-pale-blue-60:#d1e3ff;
  --color-pale-blue-70:#bdd7ff;
  --color-yellow-20:#fffadb;
  --color-yellow-30:#fff099;
  --color-yellow-40:#ffe54d;
  --color-yellow-50:#ffda00;
  --color-yellow-60:#ffcd00;
  --color-red-10:#fee7e7;
  --color-red-20:#fec2c2;
  --color-red-30:#ffa6a6;
  --color-red-40:#ff7a7a;
  --color-red-50:#ff4141;
  --color-red-55:#eb0000;
  --color-red-60:#e10000;
  --color-pink-20:#ffeaed;
  --color-pink-30:#ffe3e7;
  --color-pink-40:#ffcfd6;
  --color-pink-50:#ffbac4;
  --color-pink-60:#ff929f;
  --color-orange-30:#faa66a;
  --color-orange-40:#ff8e3d;
  --color-orange-50:#ff7715;
  --color-orange-55:#f60;
  --color-orange-60:#f56200;
  --color-white:#fff;
  --color-grey-10:#f6f6f6;
  --color-grey-20:#ebebeb;
  --color-grey-30:#d9d9d9;
  --color-grey-40:#c9c9c9;
  --color-grey-50:#b7b7b9;
  --color-grey-60:#979797;
  --color-grey-70:#757579;
  --color-grey-80:#58585d;
  --color-grey-90:#111118;
  --color-blue:var(--color-blue-50);
  --color-green:var(--color-green-50);
  --color-orange:var(--color-orange-50);
  --color-pink:var(--color-pink-50);
  --color-yellow:var(--color-yellow-50);
  --color-red:var(--color-red-50);
  --color-warm-blue:var(--color-warm-blue-50);
  --color-grey:var(--color-grey-90);
  --font-family-disp:"Haas Grot Disp Web",Helvetica,sans-serif;
  --font-family-text:"Haas Grot Text Web",Helvetica,sans-serif;
  --font-family-mono:"Martian Mono",monospace;
  --font-family-headings:var(--font-family-disp);
  --font-size-h1:3.75rem;
  --font-size-h2:2.75rem;
  --font-size-h3:2.25rem;
  --font-size-h4:2rem;
  --font-size-h5:1.75rem;
  --font-size-h6:1.5rem;
  --font-size-body-large:1.1rem;
  --font-size-body:1rem;
  --font-size-caption:0.875rem;
  --font-scale-headings:1px;
  --font-variation-mono:"wght"300,"wdth"90;
  --font-variation-mono-bold:"wght"600,"wdth"90;
  --line-height-100:1;
  --line-height-105:1.05;
  --line-height-110:1.1;
  --line-height-115:1.15;
  --line-height-125:1.25;
  --line-height-135:1.35;
  --line-height-140:1.4;
  --space-4:0.25rem;
  --space-8:0.5rem;
  --space-16:1rem;
  --space-24:1.5rem;
  --space-32:2rem;
  --space-40:2.5rem;
  --space-48:3rem;
  --space-56:3.5rem;
  --space-64:4rem;
  --space-80:5rem;
  --space-96:6rem;
  --space-112:7rem;
  --space-120:7.5rem;
  --space-128:8rem;
  --border-thickness:0.0625rem;
  --border-background:transparent;
  --border-radius-xxs:2px;
  --border-radius-xs:4px;
  --border-radius-s:8px;
  --border-radius-m:16px;
  --border-radius-l:24px;
  --border-radius-xl:32px;
  --color:inherit;
  --locked-blur:blur(2.5rem);
  --locked-bg:hsla(0,0%,85%,.4);
  --z-index-nav:123;
  --timing-fade:0.2s;
  --easing-fade-values:0.37,0,0.63,1;
  --easing-fade:cubic-bezier(var(--easing-fade-values));
  --timing-movement:0.4s;
  --easing-movement-values:0.34,1.56,0.64,1;
  --easing-movement:cubic-bezier(var(--easing-movement-values));
  --elevation-small:0 0.2rem 0.25rem #12129711;
  --elevation-medium:0 0.2rem 0.25rem #12129722;
  --header-safe-area-top:5rem;
  --header-safe-area-bottom:0;
  --glass-color:color-mix(in srgb,var(--color-white) 90%,transparent);
  --glass-color-dark:color-mix(in srgb,var(--color-grey-90) 70%,transparent);
  --glass-blur:0.25rem;
  --wilson-skin-color:var(--color-blue-50);
  --wilson-detail-color:var(--color-white);
  --wilson-mouth-color:var(--color-blue-90)
}
@media (min-width:72rem){
  :root{
    --font-size-h1:5.75rem;
    --font-size-h2:4.5rem;
    --font-size-h3:3.25rem;
    --font-size-h4:2.625rem;
    --font-size-h5:2.1875rem;
    --font-size-h6:1.5rem;
    --font-size-body-large:1.25rem;
    --font-size-body:1rem;
    --font-size-caption:0.875rem
  }
}
*,:after,:before{
  box-sizing:border-box
}
*{
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-rendering:optimizeLegibility
}
html{
  scroll-behavior:smooth
}
a,body,canvas,details,div,figure,footer,form,h1,h2,h3,h4,h5,header,html,i,iframe,img,label,li,nav,p,span,summary,ul{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline
}
details,figure,footer,header,nav{
  display:block
}
canvas,img,svg{
  display:block;
  max-width:100%
}
iframe,img{
  vertical-align:bottom
}
button,input{
  font:inherit
}
h1,h2,h3,h4,h5,p{
  overflow-wrap:break-word
}
@media (prefers-reduced-motion:reduce){
  *,:after,:before{
    scroll-behavior:auto!important
  }
  :root{
    --timing-movement:0s
  }
}
@keyframes fIn{
  0%{
    opacity:0
  }
  to{
    opacity:1
  }
}
@keyframes tIn{
  0%{
    opacity:0;
    transform:translateY(1rem)
  }
  to{
    opacity:1;
    transform:translate(0)
  }
}
@keyframes tOut{
  0%{
    opacity:1;
    transform:translate(0)
  }
  to{
    opacity:0;
    transform:translateY(1rem)
  }
}
body{
  font-family:var(--font-family-text);
  font-size:16px;
  font-weight:400;
  line-height:1.35;
  letter-spacing:-.01em;
  background-color:var(--color-white);
  color:var(--color-grey-90)
}
.Grid_default__OgMnd{
  display:grid;
  grid-template-columns:repeat(var(--columns-initial),1fr);
  grid-column-gap:var(--column-gap-initial);
  column-gap:var(--column-gap-initial);
  grid-row-gap:var(--row-gap-initial);
  row-gap:var(--row-gap-initial);
  align-items:var(--align-initial);
  justify-content:var(--justify-initial);
  grid-auto-flow:var(--auto-flow-initial)
}
@media screen and (min-width:40rem){
  .Grid_default__OgMnd{
    grid-template-columns:repeat(var(--columns-sm),1fr);
    column-gap:var(--column-gap-sm);
    row-gap:var(--row-gap-sm);
    align-items:var(--align-sm);
    justify-content:var(--justify-sm);
    grid-auto-flow:var(--auto-flow-sm)
  }
}
@media screen and (min-width:56rem){
  .Grid_default__OgMnd{
    grid-template-columns:repeat(var(--columns-md),1fr);
    column-gap:var(--column-gap-md);
    row-gap:var(--row-gap-md);
    align-items:var(--align-md);
    justify-content:var(--justify-md);
    grid-auto-flow:var(--auto-flow-md)
  }
}
@media screen and (min-width:72rem){
  .Grid_default__OgMnd{
    grid-template-columns:repeat(var(--columns-lg),1fr);
    column-gap:var(--column-gap-lg);
    row-gap:var(--row-gap-lg);
    align-items:var(--align-lg);
    justify-content:var(--justify-lg);
    grid-auto-flow:var(--auto-flow-lg)
  }
}
@media screen and (min-width:90rem){
  .Grid_default__OgMnd{
    grid-template-columns:repeat(var(--columns-xl),1fr);
    column-gap:var(--column-gap-xl);
    row-gap:var(--row-gap-xl);
    align-items:var(--align-xl);
    justify-content:var(--justify-xl);
    grid-auto-flow:var(--auto-flow-xl)
  }
}
.GridItem_gridItem__jIHpx{
  grid-column:var(--gridColumn-initial)
}
@media screen and (min-width:40rem){
  .GridItem_gridItem__jIHpx{
    grid-column:var(--gridColumn-sm)
  }
}
@media screen and (min-width:56rem){
  .GridItem_gridItem__jIHpx{
    grid-column:var(--gridColumn-md)
  }
}
@media screen and (min-width:72rem){
  .GridItem_gridItem__jIHpx{
    grid-column:var(--gridColumn-lg)
  }
}
@media screen and (min-width:90rem){
  .GridItem_gridItem__jIHpx{
    grid-column:var(--gridColumn-xl)
  }
}
.Container_default__n2Dud{
  margin-inline:auto;
  max-width:96rem;
  padding-inline:var(--space-16);
  width:100%
}
@media screen and (min-width:56rem){
  .Container_default__n2Dud{
    padding-inline:var(--space-24)
  }
}
.NewsletterSignup_panelInternal__Cf4gt{
  position:relative;
  background-color:var(--color-blue-50);
  color:var(--color-white);
  padding:var(--space-32) var(--space-24);
  background-image:url(assets/img/embedded-009.svg);
  background-size:cover;
  background-position:50%;
  border-radius:var(--space-24);
  overflow:clip
}
.NewsletterSignup_group__ccVD9{
  max-width:40ch;
  margin:0 auto;
  display:grid;
  grid-gap:var(--space-24);
  gap:var(--space-24)
}
.NewsletterSignup_group__ccVD9 h2{
  text-align:center;
  text-wrap:pretty
}
.Link_default__VBYZf{
  color:inherit;
  -webkit-text-decoration-line:underline;
  text-decoration-line:underline;
  text-underline-offset:.15em;
  transition:text-decoration-color var(--timing-fade) var(--easing-fade),-webkit-text-decoration-color var(--timing-fade) var(--easing-fade)
}
.Link_default__VBYZf:hover,.Link_discreet__Qrwpa{
  -webkit-text-decoration-color:transparent;
  text-decoration-color:transparent
}
.Link_discreet__Qrwpa:hover{
  -webkit-text-decoration-color:currentColor;
  text-decoration-color:currentColor;
  text-underline-offset:.15em
}
.SiteMain_main__3ADCd{
  display:flex;
  flex-direction:column;
  flex:1 1;
  position:relative;
  z-index:1;
  min-height:100vh;
  background-color:#fff
}
.SiteWrapper_wrapper__hYMzX{
  display:flex;
  flex-direction:column;
  min-height:100lvh
}
.PageModules_main__XSM9N{
  background-color:var(--theme-body-background,var(--color-pale-blue-40));
  flex:1 1;
  display:flex;
  flex-direction:column;
  gap:var(--space-24);
  padding:0 0 var(--space-32)0;
  width:100vw;
  overflow:hidden;
  position:relative
}
.PageModules_main__XSM9N:after{
  content:"";
  position:absolute;
  top:100%;
  left:0;
  width:100%;
  height:4em;
  background-image:linear-gradient(180deg,#12129711,transparent);
  pointer-events:none
}
@media screen and (min-width:40rem){
  .PageModules_main__XSM9N{
    gap:var(--space-32);
    padding:0 0 var(--space-64)0
  }
}
@media screen and (min-width:56rem){
  .PageModules_main__XSM9N{
    gap:var(--space-48);
    padding:0 0 var(--space-120)0
  }
}
.Pill_default__Bb5DE{
  --pill-inner:var(--theme-pill-background,var(--panel-internal-background,var(--color-white)));
  --pill-outer:var(--theme-pill-color,var(--panel-internal-color,var(--color-grey-90)));
  font-family:var(--font-family-mono);
  font-variation-settings:var(--font-variation-mono);
  font-size:.75em;
  line-height:1;
  text-transform:uppercase;
  text-decoration:none;
  background-color:var(--pill-inner);
  color:var(--pill-outer);
  padding:.25em .5em;
  border:1px solid var(--pill-outer);
  border-radius:var(--space-24);
  display:inline-flex;
  position:relative;
  white-space:nowrap
}
.Pill_squared__wjFWi{
  border-radius:0;
  padding-left:.35em;
  padding-right:.35em
}
.Pill_tag__HP1Ks{
  --theme-pill-color:var(--color-red-55);
  border:0;
  display:flex;
  padding:0
}
.Pill_tagContents__LuBSx{
  border-radius:2px;
  border:1px solid var(--pill-outer);
  padding:.25em .5em;
  -webkit-clip-path:polygon(4%0,100%0,100% 100%,4% 100%);
  clip-path:polygon(4%0,100%0,100% 100%,4% 100%);
  margin-left:-3px
}
.Pill_tag__HP1Ks svg{
  order:-1
}
.Pill_angled__nvidJ{
  position:relative;
  --aspect:6/16;
  --spacer:0.67em;
  padding:0;
  margin:0 var(--spacer);
  border:none;
  border-radius:0
}
.Pill_angled__nvidJ span{
  position:relative;
  z-index:1;
  display:block;
  border-block:1px solid var(--pill-outer);
  padding:.25em .1em
}
.Pill_angled__nvidJ svg.Pill_points__bO0q_{
  position:absolute;
  top:0;
  left:calc(-1*var(--spacer));
  height:100%;
  width:auto;
  aspect-ratio:.1em;
  z-index:0
}
.Pill_angled__nvidJ svg.Pill_points__bO0q_:last-of-type{
  left:auto;
  right:calc(-1*var(--spacer))
}
.Pill_angled__nvidJ svg.Pill_points__bO0q_ path{
  fill:var(--pill-inner);
  stroke:var(--pill-outer);
  stroke-width:1px;
  stroke-linejoin:bevel
}
.Prose_wrapper__CQIBR>[data-variant-name=h5]:not(:first-child){
  margin-top:1em
}
.Prose_wrapper__CQIBR>[data-variant-name=bodyLarge]:not(:first-child){
  -webkit-margin-before:1.4em;
  margin-block-start:1.4em
}
.Prose_wrapper__CQIBR>[data-variant-name=bodyLarge]{
  max-width:60ch
}
.Flex_flex__l084D{
  display:flex;
  align-items:var(--align-initial);
  justify-content:var(--justify-initial);
  flex-direction:var(--direction-initial);
  flex-wrap:var(--wrap-initial);
  gap:var(--gap-initial);
  column-gap:var(--column-gap-initial);
  row-gap:var(--column-gap-initial)
}
@media screen and (min-width:40rem){
  .Flex_flex__l084D{
    display:flex;
    align-items:var(--align-sm);
    justify-content:var(--justify-sm);
    flex-direction:var(--direction-sm);
    flex-wrap:var(--wrap-sm);
    gap:var(--gap-sm);
    column-gap:var(--column-gap-sm);
    row-gap:var(--column-gap-sm)
  }
}
@media screen and (min-width:56rem){
  .Flex_flex__l084D{
    display:flex;
    align-items:var(--align-md);
    justify-content:var(--justify-md);
    flex-direction:var(--direction-md);
    flex-wrap:var(--wrap-md);
    gap:var(--gap-md);
    column-gap:var(--column-gap-md);
    row-gap:var(--column-gap-md)
  }
}
@media screen and (min-width:72rem){
  .Flex_flex__l084D{
    display:flex;
    align-items:var(--align-lg);
    justify-content:var(--justify-lg);
    flex-direction:var(--direction-lg);
    flex-wrap:var(--wrap-lg);
    gap:var(--gap-lg);
    column-gap:var(--column-gap-lg);
    row-gap:var(--column-gap-lg)
  }
}
@media screen and (min-width:90rem){
  .Flex_flex__l084D{
    display:flex;
    align-items:var(--align-xl);
    justify-content:var(--justify-xl);
    flex-direction:var(--direction-xl);
    flex-wrap:var(--wrap-xl);
    gap:var(--gap-xl);
    column-gap:var(--column-gap-xl);
    row-gap:var(--column-gap-xl)
  }
}
@font-face{
  font-family:__martianMono_eeab0a;
  src:url(assets/fonts/embedded-font-010.ttf)format("truetype");
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:__martianMono_Fallback_eeab0a;
  src:local("Arial");
  ascent-override:60.84%;
  descent-override:12.17%;
  line-gap-override:0.00%;
  size-adjust:164.36%
}
.Faqs_wrapper__OfXfH{
  --panel-color:var(--color-grey-90)
}
.Faqs_wrapper__OfXfH h2{
  color:inherit;
  margin:1em 0 .5em
}
.CourseCard_default__RRXA2{
  --panel-background:var(--theme-panels-primary-background,var(--color-white));
  --panel-color:var(--theme-panels-primary-color,var(--color-grey-90));
  --panel-border-radius:var(--space-8);
  width:100%
}
.CourseCard_result__2xPA1{
  display:grid;
  grid-gap:var(--space-16);
  gap:var(--space-16);
  height:100%
}
.CourseCard_resultContent__YZRsE{
  display:grid;
  grid-template-rows:1fr auto;
  grid-gap:var(--space-40);
  gap:var(--space-40);
  height:100%
}
.CourseCard_resultImage___tV4_{
  aspect-ratio:16/9;
  width:100%;
  position:relative
}
.CourseCard_resultImage___tV4_ img{
  width:100%;
  height:100%;
  object-fit:cover
}
.CourseCard_resultImage___tV4_ .CourseCard_free__fsFJx{
  position:absolute;
  top:var(--space-16);
  right:var(--space-16);
  z-index:1
}
.CourseCard_result__2xPA1 h3{
  margin:0 var(--space-16) var(--space-8)0;
  text-wrap:pretty
}
.CourseCard_result__2xPA1 h3 span{
  display:block
}
.CourseCard_result__2xPA1 p{
  max-height:calc(5em*1.4);
  overflow:hidden;
  text-overflow:ellipsis;
  -webkit-line-clamp:5;
  -webkit-box-orient:vertical
}
.CourseCard_result__2xPA1 .CourseCard_pills__DIv7N{
  display:flex;
  flex-wrap:wrap;
  gap:var(--space-8)
}
.Button_default__49oLE{
  font-size:var(--font-size-body-large);
  font-family:var(--font-family-text);
  letter-spacing:-.02em;
  border-radius:2em;
  border-width:0;
  position:relative;
  display:inline-flex;
  align-items:center;
  gap:.3em;
  padding:.15em .6em;
  cursor:pointer;
  text-align:center;
  text-wrap:balance;
  transition:background-color var(--timing-fade) var(--easing-fade),color var(--timing-fade) var(--easing-fade)
}
.Button_small__Bo3eM{
  font-size:var(--font-size-body)
}
.Button_default__49oLE svg{
  height:.7em;
  transform:translate(0);
  transition:transform var(--timing-movement) var(--easing-movement)
}
.Button_default__49oLE:hover svg{
  transform:translate(.125em)
}
.Button_default__49oLE path{
  stroke:currentColor
}
@media screen and (min-width:56rem){
  .Button_default__49oLE{
    font-size:var(--font-size-h6)
  }
  .Button_small__Bo3eM{
    font-size:var(--font-size-body)
  }
}
.Button_primary__DvWPg{
  background-color:var(--theme-button-primary-background,var(--color-blue-50));
  border-color:var(--theme-button-primary-background,var(--color-blue-50));
  color:var(--theme-button-primary-color,var(--color-white))
}
.Button_primary__DvWPg:focus,.Button_primary__DvWPg:hover{
  background-color:var(--theme-button-primary-focused-background,var(--theme-button-primary-background,var(--color-blue-60)));
  border-color:solid 1px var(--theme-button-primary-focused-background,var(--theme-button-primary-background,var(--color-blue-60)));
  color:var(--theme-button-primary-focused-color,var(--theme-button-primary-color,var(--color-white)))
}
.Button_inactiveStyles__iYglF{
  background-color:var(--color-grey-20)!important;
  border-color:var(--color-grey-20)!important;
  color:var(--color-grey-60)!important;
  cursor:not-allowed
}
.Button_isTextHidden__gARqJ{
  height:1.5em
}
.Button_default__49oLE svg.Button_backArrow__PUGpH{
  transform:rotate(180deg)
}
.Button_default__49oLE:hover svg.Button_backArrow__PUGpH{
  transform:rotate(180deg) translate(.125em)
}
@keyframes SiteHeader_tIn__DqCKm{
  0%{
    opacity:0;
    transform:translateY(1rem)
  }
  to{
    opacity:1;
    transform:translate(0)
  }
}
@keyframes SiteHeader_tOut__pUz2W{
  0%{
    opacity:1;
    transform:translate(0)
  }
  to{
    opacity:0;
    transform:translateY(1rem)
  }
}
@keyframes SiteHeader_enterFromRight__fplHi{
  0%{
    opacity:0;
    transform:translateX(20rem)
  }
  to{
    opacity:1;
    transform:translateX(0)
  }
}
@keyframes SiteHeader_enterFromLeft__waJDP{
  0%{
    opacity:0;
    transform:translateX(-20rem)
  }
  to{
    opacity:1;
    transform:translateX(0)
  }
}
@keyframes SiteHeader_exitToRight__ZLaCM{
  0%{
    opacity:1;
    transform:translateX(0)
  }
  to{
    opacity:0;
    transform:translateX(20rem)
  }
}
@keyframes SiteHeader_exitToLeft__VdMns{
  0%{
    opacity:1;
    transform:translateX(0)
  }
  to{
    opacity:0;
    transform:translateX(-20rem)
  }
}
@keyframes SiteHeader_fadeIn__vNqMp{
  0%{
    opacity:0
  }
  to{
    opacity:1
  }
}
@keyframes SiteHeader_fadeOut__GKaN7{
  0%{
    opacity:1
  }
  to{
    opacity:0
  }
}
.SiteHeader_siteHeader__zymXz{
  position:sticky;
  top:0;
  left:0;
  width:100%;
  z-index:1000000;
  --header-top-height:3rem;
  --header-top-padding:var(--space-8);
  --header-border-radius:var(--space-24)
}
@media screen and (min-width:56rem){
  .SiteHeader_siteHeader__zymXz{
    --header-top-padding:var(--space-8)
  }
}
.SiteHeader_headerPos__8UU1m{
  position:relative;
  top:0;
  left:0
}
.SiteHeader_pillContainer__NmQD9{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:100000000;
  height:calc(var(--space-16) + var(--header-top-height));
  padding:var(--space-16)0 0 0
}
.SiteHeader_pill__Iun8x{
  background-color:var(--glass-color);
  -webkit-backdrop-filter:blur(var(--glass-blur));
  backdrop-filter:blur(var(--glass-blur));
  border-radius:var(--header-border-radius);
  box-shadow:var(--elevation-medium);
  display:grid;
  grid-template-columns:auto;
  align-items:stretch;
  height:3rem;
  transition:background-color var(--timing-fade) var(--easing-fade),transform var(--timing-movement) var(--easing-movement)
}
@media screen and (min-width:56rem){
  .SiteHeader_pill__Iun8x{
    grid-template-columns:auto 1fr auto
  }
}
.SiteHeader_pill__Iun8x:focus,.SiteHeader_pill__Iun8x:hover{
  background-color:var(--color-white)
}
.SiteHeader_root__yKbag.SiteHeader_menu1__4hH02,.SiteHeader_root__yKbag.SiteHeader_menu2__AU7x_{
  display:none
}
@media screen and (min-width:56rem){
  .SiteHeader_root__yKbag.SiteHeader_menu1__4hH02,.SiteHeader_root__yKbag.SiteHeader_menu2__AU7x_{
    display:block
  }
  .SiteHeader_root__yKbag.SiteHeader_menu2__AU7x_{
    margin-right:var(--space-16)
  }
}
.SiteHeader_list__cgvxp{
  list-style:none;
  display:flex;
  flex-direction:row;
  justify-content:space-between
}
@media screen and (min-width:56rem){
  .SiteHeader_list__cgvxp{
    justify-content:flex-start
  }
}
.SiteHeader_trigger__dQ0MV{
  all:unset;
  cursor:hand;
  justify-content:center;
  font-family:var(--font-family-disp);
  font-size:var(--font-size-h6);
  letter-spacing:-.02em;
  display:block;
  width:100%;
  height:var(--header-top-height)
}
.SiteHeader_trigger__dQ0MV a{
  display:flex;
  align-items:center;
  line-height:1;
  padding:.7rem
}
.SiteHeader_searchTrigger__SSKjb svg{
  display:none
}
@media screen and (min-width:56rem){
  .SiteHeader_searchTrigger__SSKjb svg{
    display:inline-block
  }
  .SiteHeader_searchTrigger__SSKjb span{
    display:none
  }
}
.SiteHeader_logo__VCFyr{
  height:calc(3rem - 2*var(--space-8));
  width:calc(3rem - 2*var(--space-8));
  border-radius:50rem;
  margin:var(--space-8)
}
.SiteHeader_logo__VCFyr{
  background-color:var(--theme-logo-background,var(--color-blue-50));
  transition:width var(--timing-movement) var(--easing-movement),background-color var(--easing-fade)
}
.SiteHeader_logo__VCFyr a{
  padding:0 .6rem 0 .7rem;
  height:100%;
  display:block;
  overflow:clip
}
.SiteHeader_logo__VCFyr svg{
  height:100%;
  max-width:none;
  transform:translate(-3.66rem);
  transition:transform var(--timing-movement) var(--easing-movement)
}
.SiteHeader_logo__VCFyr:hover{
  width:5.8rem
}
.SiteHeader_logo__VCFyr path{
  fill:var(--theme-logo-color,var(--color-white));
  transition:fill var(--easing-fade)
}
.SiteHeader_logo__VCFyr .SiteHeader_logoLetter__tW243{
  transform:translateY(4rem);
  transition:opacity var(--timing-fade) .4s var(--easing-fade),transform var(--timing-movement) .4s var(--easing-movement)
}
.SiteHeader_logo__VCFyr .SiteHeader_logoLetter__tW243:nth-child(2){
  transition-delay:.3s
}
.SiteHeader_logo__VCFyr .SiteHeader_logoLetter__tW243:nth-child(3){
  transition-delay:.2s
}
.SiteHeader_logo__VCFyr .SiteHeader_logoLetter__tW243:nth-child(4){
  transition-delay:.1s
}
.SiteHeader_logo__VCFyr .SiteHeader_logoLetter__tW243:nth-child(5){
  transition-delay:.1ms
}
.SiteHeader_logo__VCFyr:focus svg,.SiteHeader_logo__VCFyr:hover svg{
  transform:translate(0)
}
.SiteHeader_logo__VCFyr:focus .SiteHeader_logoLetter__tW243,.SiteHeader_logo__VCFyr:hover .SiteHeader_logoLetter__tW243{
  opacity:1;
  transform:translate(0)
}
@media screen and (min-width:56rem){
  .SiteHeader_burger__H3zIJ{
    display:none
  }
}
.SiteHeader_viewportPosition__trwrq{
  position:absolute;
  top:100%;
  left:0;
  width:auto;
  display:none;
  justify-content:flex-start;
  padding-top:var(--space-8);
  perspective:2000px
}
@media screen and (min-width:56rem){
  .SiteHeader_viewportPosition__trwrq{
    display:flex
  }
}
.SiteHeader_viewportPositionRight__zNSgw{
  left:auto;
  right:0;
  justify-content:flex-end
}
.SiteHeader_viewportPositionMobile__i7K0Z{
  width:100%;
  display:flex
}
.SiteHeader_viewport__yhlSL{
  position:relative;
  transform-origin:top center;
  background-color:var(--color-white);
  border-radius:var(--space-24);
  box-shadow:var(--elevation-medium);
  overflow:hidden;
  transition:width,height,var(--timing-movement) var(--easing-movement)
}
.SiteHeader_viewportPositionMobile__i7K0Z .SiteHeader_viewport__yhlSL{
  width:100%;
  height:auto
}
.SiteHeader_viewportPositionMobile__i7K0Z .SiteHeader_viewport__yhlSL[data-state=closed]{
  animation:none
}
@media screen and (min-width:56rem){
  .SiteHeader_siteHeader__zymXz ul>li{
    animation:SiteHeader_tIn__DqCKm var(--timing-movement) var(--timing-movement) var(--easing-movement) both
  }
  .SiteHeader_siteHeader__zymXz ul>li:nth-child(2){
    animation-delay:calc(var(--timing-movement)*1.5)
  }
  .SiteHeader_siteHeader__zymXz ul>li:nth-child(3){
    animation-delay:calc(var(--timing-movement)*2)
  }
}
.SiteHeader_pillContainer__NmQD9:hover .SiteHeader_pill__Iun8x{
  transform:translate(0)
}
.SkipToContentLink_skipLink__YHc95{
  position:absolute;
  width:1px;
  height:1px;
  clip:rect(0 0 0 0);
  -webkit-clip-path:inset(50%);
  clip-path:inset(50%);
  white-space:nowrap;
  overflow:hidden
}
.SkipToContentLink_skipLink__YHc95:focus-within{
  position:fixed;
  top:20px;
  left:20px;
  width:auto;
  height:auto;
  clip:auto;
  -webkit-clip-path:none;
  clip-path:none;
  white-space:normal;
  overflow:visible;
  z-index:100000
}
@keyframes Pagination_shiftLeft__kmxJO{
  0%{
    transform:translate(0)
  }
  to{
    transform:translate(-1rem)
  }
}
@keyframes Pagination_shiftRight__J1ZsK{
  0%{
    transform:translate(0)
  }
  to{
    transform:translate(1rem)
  }
}
.免费Spinner_default__hOK8o{
  width:3em;
  height:3em;
  color:var(--color-white);
  border-radius:50%;
  text-transform:uppercase;
  display:flex;
  align-items:center;
  justify-content:center
}
.免费Spinner_default__hOK8o svg{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1
}
.免费Spinner_default__hOK8o span{
  position:relative;
  z-index:2;
  display:inline-block;
  transform:rotate(10deg)
}
.免费Spinner_default__hOK8o svg.免费Spinner_flap__Qy8Sf{
  z-index:3
}
.免费Spinner_default__hOK8o svg.免费Spinner_badge__fnGvo path{
  fill:var(--color-blue-50)
}
.免费Spinner_default__hOK8o svg.免费Spinner_flap__Qy8Sf path{
  fill:var(--color-blue-40)
}
.Label_default__VkNAF{
  display:block
}
.Label_caps__XiKwu{
  font-family:var(--font-family-mono);
  text-transform:uppercase;
  font-size:var(--font-size-caption)
}
.FormField_field__JJXNm{
  display:flex;
  flex-direction:column;
  gap:.5em
}
.Input_input__OIeAm{
  background-color:var(--color-pale-blue-40);
  border:0;
  border-radius:var(--border-radius-s);
  padding:.75em 1em;
  width:100%;
  font-family:inherit;
  font-size:var(--font-size-22);
  line-height:var(--line-height-110)
}
.Input_input__OIeAm::placeholder{
  color:var(--color-grey-60)
}
.SearchFilter_form__iE6Ig{
  display:grid;
  grid-gap:var(--space-32);
  gap:var(--space-32)
}
.SearchFilter_form__iE6Ig input[type=text]{
  display:block;
  font-size:var(--font-size-body-large);
  width:100%
}
.SearchFilter_form__iE6Ig [role=group]{
  display:none
}
@media screen and (min-width:56rem){
  .SearchFilter_form__iE6Ig [role=group]{
    display:flex
  }
}
.SearchResults_sticky__xHNgh{
  position:sticky;
  top:calc(var(--header-safe-area-top));
  z-index:1000
}
.SearchResults_resultsList__1BkUX{
  list-style:none;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(18em,1fr));
  grid-gap:var(--space-24);
  gap:var(--space-24);
  margin:var(--space-24)0 0 0
}
.SearchResults_results__iWgit a{
  text-decoration:none
}
.SlidePanel_default__OdqWI{
  width:100%;
  --slider-internal-gap:var(--slider-gap,var(--space-16));
  --slider-internal-scroll-width:var(--slider-scroll-width,min-content);
  --slider-internal-separator:var(--slider-separator,var(--space-24))
}
.SlidePanel_titleAndButtons__2ZngW{
  padding:var(--panel-internal-inset) var(--panel-internal-inset) var(--slider-internal-separator) var(--panel-internal-inset);
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  gap:var(--space-16)
}
@media screen and (min-width:56rem){
  .SlidePanel_titleAndButtons__2ZngW{
    flex-direction:row;
    align-items:flex-end;
    justify-content:space-between
  }
}
.SlidePanel_buttons__K7Yso{
  display:flex;
  gap:var(--space-8)
}
.SlidePanel_slideWrapper__fVdSI{
  max-width:100%;
  width:100%
}
.SlidePanel_slider__SkJNP{
  overflow-x:scroll;
  scroll-snap-type:x mandatory;
  scroll-padding:var(--panel-internal-inset);
  scrollbar-color:var(--panel-internal-color) var(--panel-internal-background);
  padding:0 0 var(--panel-internal-inset)0
}
.SlidePanel_slider__SkJNP>*{
  width:var(--slider-internal-scroll-width);
  display:flex;
  align-items:flex-start;
  gap:var(--slider-internal-gap);
  padding:0 var(--panel-internal-inset)
}
.SlidePanel_item__jjqze{
  scroll-snap-align:start
}
.InputWithSubmit_wrapper__0i07e{
  position:relative
}
.InputWithSubmit_wrapper__0i07e .InputWithSubmit_input__s2p2s{
  border-radius:5000px;
  padding-right:4.25rem
}
.InputWithSubmit_wrapper__0i07e .InputWithSubmit_button__L0Xd9{
  position:absolute;
  right:4px;
  top:4px;
  height:calc(100% - 8px)
}
.Typography_weight-normal__omiiB{
  font-style:inherit;
  font-weight:400;
  letter-spacing:inherit;
  line-height:inherit;
  text-transform:inherit
}
.Typography_variant-inherit__jKr1C{
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
  letter-spacing:inherit;
  line-height:inherit;
  text-transform:inherit
}
.Typography_variant-h1__2merd{
  font-size:calc(var(--font-size-h1)*var(--theme-body-type-headings-adj,1))
}
.Typography_variant-h1__2merd,.Typography_variant-h2__0uL5_{
  font-family:var(--font-family-disp);
  letter-spacing:-.03em;
  line-height:1
}
.Typography_variant-h2__0uL5_{
  font-size:calc(var(--font-size-h2)*var(--theme-body-type-headings-adj,1))
}
.Typography_variant-h3__OKBgb{
  font-family:var(--font-family-disp);
  font-size:calc(var(--font-size-h3)*var(--theme-body-type-headings-adj,1));
  letter-spacing:-.03rem;
  line-height:1.1
}
.Typography_variant-h4__B52wj{
  font-family:var(--font-family-disp);
  font-size:calc(var(--font-size-h4)*var(--theme-body-type-headings-adj,1));
  line-height:1.1
}
.Typography_variant-h5__cuwm4{
  font-family:var(--font-family-disp);
  font-size:calc(var(--font-size-h5)*var(--theme-body-type-headings-adj,1));
  line-height:1.15
}
.Typography_variant-h6__Zgscs{
  font-family:var(--font-family-text);
  font-size:calc(var(--font-size-h6)*var(--theme-body-type-body-adj,1));
  line-height:1.25
}
.Typography_variant-bodyLarge__q0OzA{
  font-family:var(--font-family-text);
  font-size:calc(var(--font-size-body-large)*var(--theme-body-type-body-adj,1));
  line-height:1.25
}
.Typography_variant-caption__tejaf{
  font-family:var(--font-family-text);
  font-size:var(--font-size-caption);
  line-height:var(--line-height-140)
}
.Typography_variant-mono__xLZrF{
  font-family:var(--font-family-mono);
  font-variation-settings:var(--font-variation-mono);
  font-size:.85em;
  letter-spacing:0;
  text-transform:uppercase
}
.Typography_variant-monoCaption__CtFq1{
  font-size:.75em
}
.Typography_animatedHolder__bGgvf span{
  display:inline-block;
  transform-origin:0 100%
}
@keyframes Wilson_fadein__tNQjs{
  0%{
    opacity:0
  }
  to{
    opacity:1
  }
}
.Wilson_default__Czhfm{
  display:inline-block;
  opacity:0;
  vertical-align:bottom
}
.Wilson_loaded__Er9C7{
  animation:tIn var(--timing-movement) var(--timing-movement) var(--easing-movement) both
}
.Wilson_svgContainer__rdQWM{
  aspect-ratio:1/1;
  margin:-45%
}
.Wilson_large__DYJph{
  width:var(--font-size-h2);
  height:var(--font-size-h2)
}
.Wilson_responsive___dLp4{
  width:100%;
  height:100%;
  aspect-ratio:1/1
}
.Wilson_default__Czhfm path[fill="rgb(39,39,230)"]{
  fill:var(--theme-wilson-skin,var(--wilson-skin-color))
}
.Wilson_default__Czhfm path[stroke="rgb(255,255,255)"]{
  stroke:var(--theme-wilson-detail,var(--wilson-detail-color))
}
.Wilson_default__Czhfm path[fill="rgb(255,255,255)"]{
  fill:var(--theme-wilson-detail,var(--wilson-detail-color))
}
.VisuallyHidden_hidden__1E0iK{
  clip:rect(0 0 0 0);
  -webkit-clip-path:inset(50%);
  clip-path:inset(50%);
  height:1px;
  overflow:hidden;
  position:absolute;
  white-space:nowrap;
  width:1px
}
@keyframes SiteBanner_fIn__MLcEV{
  0%{
    opacity:0
  }
  to{
    opacity:1
  }
}
@property --background-color{
  syntax:"<color>";
  initial-value:var(--color-blue-50);
  inherits:false
}
.SiteBanner_siteBanner__XcmVh{
  --background-color:var(--color-blue-50);
  --background-hover:var(--color-blue-60);
  background-color:var(--background-color);
  color:var(--color-white);
  position:relative;
  z-index:10000;
  transition:color var(--timing-fade) var(--easing-fade)
}
.SiteBanner_siteBanner__XcmVh a span{
  display:inline-block;
  padding:var(--space-8) var(--space-32);
  position:relative
}
.SiteBanner_siteBanner__XcmVh a span:before{
  content:"";
  display:inline-block;
  width:.75em;
  height:.75em;
  background-color:var(--background-hover);
  border-radius:50px;
  position:absolute;
  top:calc(50%);
  left:0;
  transform:translate(-50%,-50%)
}
.SiteBanner_siteBanner__XcmVh a{
  display:block;
  height:2rem;
  color:currentColor
}
.SiteBanner_siteBanner__XcmVh a.SiteBanner_mounted__0vBHr{
  animation:SiteBanner_fIn__MLcEV var(--timing-fade) var(--easing-fade) both
}
.SiteBanner_container__moGWm{
  position:relative
}
.SiteBanner_close__57lhr{
  position:absolute;
  top:0;
  right:0;
  height:100%;
  z-index:100;
  padding:0 .2rem 0 var(--space-48);
  background-image:linear-gradient(to left,var(--background-color) 50%,transparent);
  display:flex;
  align-items:center;
  justify-content:center
}
.SiteBanner_container__moGWm button{
  background:none;
  outline:none;
  border:none;
  padding:.4rem
}
.SiteBanner_container__moGWm button .SiteBanner_inner__nuvwD{
  z-index:3;
  border:none;
  background-color:var(--color-white);
  width:1rem;
  height:1rem;
  border-radius:var(--space-24);
  padding:.1em;
  cursor:pointer;
  flex:0 0 auto;
  transition:background-color var(--easing-fade) var(--timing-fade)
}
.SiteBanner_container__moGWm button:focus .SiteBanner_inner__nuvwD,.SiteBanner_container__moGWm button:hover .SiteBanner_inner__nuvwD{
  background-color:var(--color-pale-blue-50)
}
.SiteBanner_container__moGWm button svg{
  width:100%;
  height:100%
}
.SiteBanner_container__moGWm path{
  stroke:var(--background-color);
  stroke-width:2px
}
.SiteFooter_wrapper__klQR_{
  --max-height:max(min(75vh,100vw),30rem);
  --footer-inner-min:2.5rem;
  --footer-inner-max:16rem;
  --footer-min-size:calc(var(--footer-inner-min) + 2*var(--space-16));
  --footer-max-size:calc(var(--footer-inner-max) + 2*var(--space-16));
  --footer-top-row:var(--footer-inner-min);
  --footer-bottom-row:2rem;
  position:relative;
  z-index:0;
  background-color:var(--color-pale-blue-50)
}
.SiteFooter_siteFooter__ggnN2{
  background-color:var(--glass-color);
  -webkit-backdrop-filter:blur(var(--glass-blur));
  backdrop-filter:blur(var(--glass-blur));
  border-radius:var(--space-24);
  padding:var(--space-24) var(--space-24);
  margin:var(--space-32)0;
  pointer-events:auto;
  transition:height var(--timing-movement) var(--easing-movement),background-color var(--timing-fade) var(--easing-fade);
  box-shadow:var(--elevation-medium);
  overflow:clip;
  display:grid;
  grid-auto-flow:dense;
  align-items:start;
  grid-gap:var(--space-24);
  gap:var(--space-24);
  font-size:var(--font-size-body)
}
.SiteFooter_siteFooter__ggnN2:focus,.SiteFooter_siteFooter__ggnN2:hover{
  background-color:var(--color-white)
}
.SiteFooter_logo___4XY3 svg{
  height:1.5em
}
.SiteFooter_logo___4XY3 path{
  fill:var(--color-blue)
}
.SiteFooter_logoSizer__zKYF7{
  max-width:120px;
  height:var(--footer-top-row)
}
.SiteFooter_nav__nFJ__{
  display:grid;
  grid-gap:var(--space-16);
  gap:var(--space-16)
}
.SiteFooter_nav__nFJ__ nav{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  gap:var(--space-8)
}
.SiteFooter_copywrite__elM1L{
  display:none;
  align-items:center
}
.SiteFooter_socials__TI9kV{
  display:flex;
  align-items:center;
  gap:1rem
}
.SiteFooter_socials__TI9kV svg{
  height:1em
}
.SiteFooter_socials__TI9kV a path{
  transition:fill var(--timing-fade) var(--easing-fade)
}
.SiteFooter_socials__TI9kV a:focus path,.SiteFooter_socials__TI9kV a:hover path{
  fill:var(--color-grey-90)
}
.SiteFooter_ballPoolContainer__wilRc{
  display:none;
  position:relative;
  height:100%
}
.SiteFooter_ballPool__GP_w7{
  width:100%;
  height:var(--max-height);
  position:fixed;
  bottom:0;
  z-index:0
}
@media screen and (min-width:56rem){
  .SiteFooter_wrapper__klQR_{
    height:var(--max-height)
  }
  .SiteFooter_sticky__fQdHn{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    pointer-events:none
  }
  .SiteFooter_expander__tgYR0{
    height:100%
  }
  .SiteFooter_siteFooter__ggnN2{
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:calc(var(--footer-inner-max) - var(--space-24) - var(--footer-bottom-row)) var(--footer-bottom-row)
  }
  .SiteFooter_expander__tgYR0.SiteFooter_expanded__mP_3w .SiteFooter_siteFooter__ggnN2{
    height:var(--footer-max-size)
  }
  .SiteFooter_logo___4XY3{
    grid-column:1/span 3
  }
  .SiteFooter_nav__nFJ__{
    grid-column:span 3
  }
  .SiteFooter_copywrite__elM1L{
    display:flex;
    grid-row:2;
    grid-column:1/span 4
  }
  .SiteFooter_socials__TI9kV{
    grid-row:2;
    grid-column:7/-1
  }
  .SiteFooter_ballPoolContainer__wilRc{
    display:block
  }
  .SiteFooter_copywrite__elM1L,.SiteFooter_socials__TI9kV{
    height:2rem
  }
  .SiteFooter_copywrite__elM1L,.SiteFooter_nav__nFJ__ nav,.SiteFooter_socials__TI9kV{
    transition:opacity .4s ease .1ms
  }
  .SiteFooter_expander__tgYR0.SiteFooter_expanded__mP_3w .SiteFooter_copywrite__elM1L,.SiteFooter_expander__tgYR0.SiteFooter_expanded__mP_3w .SiteFooter_nav__nFJ__ nav,.SiteFooter_expander__tgYR0.SiteFooter_expanded__mP_3w .SiteFooter_socials__TI9kV{
    opacity:1;
    transition-delay:.8s
  }
  .SiteFooter_expander__tgYR0.SiteFooter_expanded__mP_3w .SiteFooter_nav__nFJ__ nav{
    transition-delay:.4s
  }
}
@media screen and (min-width:72rem){
  .SiteFooter_wrapper__klQR_{
    --footer-inner-min:2.5rem
  }
  .SiteFooter_logo___4XY3{
    grid-column:1/span 6
  }
  .SiteFooter_nav__nFJ__{
    grid-column:span 2
  }
  .SiteFooter_socials__TI9kV{
    grid-column:11/-1
  }
}
@media (prefers-reduced-motion:reduce){
  .SiteFooter_sticky__fQdHn{
    position:relative
  }
  .SiteFooter_expander__tgYR0{
    height:auto
  }
  .SiteFooter_ballPoolContainer__wilRc{
    display:none
  }
  .SiteFooter_copywrite__elM1L,.SiteFooter_nav__nFJ__ nav,.SiteFooter_socials__TI9kV{
    opacity:1
  }
  @media screen and (min-width:56rem){
    .SiteFooter_wrapper__klQR_{
      height:calc(2*var(--space-32) + var(--footer-max-size))
    }
    .SiteFooter_siteFooter__ggnN2{
      height:var(--footer-max-size)
    }
  }
}
.NumberIndicator_default__JUmbc{
  background-color:var(--color-blue);
  color:var(--color-white);
  font-family:var(--font-family-mono);
  font-weight:400;
  font-variation-settings:var(--font-variation-mono);
  letter-spacing:0;
  display:inline-block;
  vertical-align:top;
  font-size:12px;
  line-height:1.3em;
  min-width:1.3em;
  padding:0 .25em;
  height:1.3em;
  text-align:center;
  border-radius:500px
}
.Accordion_default__WDWQJ{
  display:flex;
  flex-direction:column;
  gap:var(--space-8)
}
.Accordion_default__WDWQJ details{
  background-color:var(--panel-background,var(--color-white));
  color:var(--panel-color,var(--color-grey-90));
  border-radius:var(--space-24);
  scroll-margin:var(--header-safe-area-top)
}
.Accordion_default__WDWQJ summary{
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:space-between
}
.Accordion_default__WDWQJ .Accordion_summaryGroup__i8SSm{
  padding:var(--space-16) var(--space-24)
}
.Accordion_default__WDWQJ .Accordion_summaryCross__Gdm2Y{
  flex:0 0 auto;
  padding-right:var(--space-24)
}
.Accordion_default__WDWQJ .Accordion_summaryCross__Gdm2Y svg{
  height:2em
}
.Accordion_default__WDWQJ summary::-webkit-details-marker,.Accordion_default__WDWQJ summary::marker{
  display:none;
  content:""
}
.Accordion_default__WDWQJ .Accordion_reveal__hJ5RK{
  padding:0 var(--space-24) var(--space-24)
}
.Accordion_default__WDWQJ .Accordion_summaryCross__Gdm2Y svg{
  transition:transform var(--timing-movement) var(--easing-movement)
}
.Accordion_default__WDWQJ details[open] .Accordion_summaryCross__Gdm2Y svg{
  transform:rotate(45deg)
}
.CatalogHero_hero__l7Klh{
  position:relative;
  padding-top:var(--header-safe-area-top);
  container-type:inline-size;
  text-align:center
}
.CatalogHero_hero__l7Klh .CatalogHero_heroSvg__VUiIz{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150cqmax;
  max-width:none;
  z-index:0
}
.CatalogHero_hero__l7Klh .CatalogHero_heroSvg__VUiIz svg{
  width:100%;
  height:100%
}
.CatalogHero_sizer__tpq49{
  position:relative;
  aspect-ratio:20/9;
  display:flex;
  align-items:center;
  justify-content:center
}
.CatalogHero_heroGroup__ATUdT{
  width:70ch;
  margin:0 auto;
  position:relative;
  z-index:1;
  display:grid;
  grid-gap:var(--space-16);
  gap:var(--space-16)
}
.CatalogHero_heroGroup__ATUdT h1{
  padding:0 .25em .1em;
  text-wrap:pretty
}
.CatalogHero_wilson__v3jZX{
  text-align:center
}
.CatalogHero_list__bLfgS li{
  list-style-type:none;
  display:inline-block;
  padding:.5em 1em
}
.CatalogHero_smallWilson__p19xg{
  display:inline-block;
  height:1.36em;
  width:1.36em
}
.CheckboxGroup_checkboxGroup__bkaK3{
  flex-direction:column;
  gap:var(--space-16)
}
.CheckboxGroup_checkbox__rMt7e{
  --icon-color:var(--color-white);
  --outline-color:var(--color-blue);
  --outline-width:0px;
  --icon-background:var(--color-pale-blue-40);
  display:flex;
  flex-direction:column;
  gap:var(--space-16)
}
.CheckboxGroup_icon__Wrgoe{
  padding:.5rem;
  background-color:var(--icon-background);
  border-radius:var(--border-radius-s);
  outline:var(--outline-width) auto var(--outline-color);
  width:2em;
  height:2em
}
.CheckboxGroup_icon__Wrgoe svg{
  width:100%;
  height:100%
}
.CheckboxGroup_input__dcpM3{
  display:flex;
  gap:1em;
  align-items:center
}
.rfm-marquee-container{
  overflow-x:hidden;
  display:flex;
  flex-direction:row;
  position:relative;
  width:var(--width);
  transform:var(--transform)
}
.rfm-marquee-container:hover div{
  animation-play-state:var(--pause-on-hover)
}
.rfm-marquee-container:active div{
  animation-play-state:var(--pause-on-click)
}
.rfm-marquee{
  flex:0 0 auto;
  min-width:var(--min-width);
  z-index:1;
  display:flex;
  flex-direction:row;
  align-items:center;
  animation:scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state:var(--play);
  animation-delay:var(--delay);
  animation-direction:var(--direction)
}
@keyframes scroll{
  0%{
    transform:translateX(0%)
  }
  100%{
    transform:translateX(-100%)
  }
}
.rfm-initial-child-container{
  flex:0 0 auto;
  display:flex;
  min-width:auto;
  flex-direction:row;
  align-items:center
}
.rfm-child{
  transform:var(--transform)
}
html,*{
  -moz-user-select:text!important
}
.lf-player-container :focus{
  outline:0
}
@-webkit-keyframes immersive-translate-loading-animation{
  from{
    -webkit-transform:rotate(0deg)
  }
  to{
    -webkit-transform:rotate(359deg)
  }
}
@keyframes immersive-translate-loading-animation{
  from{
    transform:rotate(0deg)
  }
  to{
    transform:rotate(359deg)
  }
}
@keyframes immersiveTranslateShadowRolling{
  0%{
    box-shadow:0px 0 rgba(255,255,255,0),0px 0 rgba(255,255,255,0),0px 0 rgba(255,255,255,0),0px 0 rgba(255,255,255,0)
  }
  12%{
    box-shadow:100px 0 var(--loading-color),0px 0 rgba(255,255,255,0),0px 0 rgba(255,255,255,0),0px 0 rgba(255,255,255,0)
  }
  25%{
    box-shadow:110px 0 var(--loading-color),100px 0 var(--loading-color),0px 0 rgba(255,255,255,0),0px 0 rgba(255,255,255,0)
  }
  36%{
    box-shadow:120px 0 var(--loading-color),110px 0 var(--loading-color),100px 0 var(--loading-color),0px 0 rgba(255,255,255,0)
  }
  50%{
    box-shadow:130px 0 var(--loading-color),120px 0 var(--loading-color),110px 0 var(--loading-color),100px 0 var(--loading-color)
  }
  62%{
    box-shadow:200px 0 rgba(255,255,255,0),130px 0 var(--loading-color),120px 0 var(--loading-color),110px 0 var(--loading-color)
  }
  75%{
    box-shadow:200px 0 rgba(255,255,255,0),200px 0 rgba(255,255,255,0),130px 0 var(--loading-color),120px 0 var(--loading-color)
  }
  87%{
    box-shadow:200px 0 rgba(255,255,255,0),200px 0 rgba(255,255,255,0),200px 0 rgba(255,255,255,0),130px 0 var(--loading-color)
  }
  100%{
    box-shadow:200px 0 rgba(255,255,255,0),200px 0 rgba(255,255,255,0),200px 0 rgba(255,255,255,0),200px 0 rgba(255,255,255,0)
  }
}
@keyframes image-loading-rotate{
  from{
    transform:rotate(360deg)
  }
  to{
    transform:rotate(0deg)
  }
}
.sf-hidden{
  display:none!important
}
.SiteHeader_logoText{
  font-family:var(--font-family-disp);
  font-size:0.95rem;
  line-height:1;
  letter-spacing:0.06em;
  color:var(--color-white);
  white-space:nowrap;
  display:inline-block;
}
.SiteHeader_logo__VCFyr .Link_default__VBYZf{
  display:block;
  height:100%;
  padding:0 .6rem 0 .7rem;
  overflow:clip;
}
